
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="jumbotron">
                    @Html.ActionLink("Login", "Login","User",null, new { @class = "btn btn-primary btn-lg" })
                </div>
            </div>
            <div class="col-lg-6">
                <div class="jumbotron">
                    @Html.ActionLink("Registration", "Create", "User", null, new { @class = "btn btn-primary btn-lg" })   
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>
